<!DOCTYPE html>
<html>

<head>
    <title>
        <%=htmlWebpackPlugin.options.title%>
    </title>
    <link rel="icon" href="favicon.ico" />
</head>

<body>
    <%- require('!!html-loader!../../layout/header.html') %>
    <main>
        <div class="content font-class">
            <ul class="icon_lists dib-box">
                <li class="dib">
                    <span class="icon iconfont icon-anquan"></span>
                    <div class="code-name">.icon-anquan</div>
                </li>

                <li class="dib">
                    <span class="icon iconfont icon-caidan"></span>
                    <div class="code-name">.icon-caidan</div>
                </li>

                <li class="dib">
                    <span class="icon iconfont icon-aixin"></span>
                    <div class="code-name">.icon-aixin</div>
                </li>

                <li class="dib">
                    <span class="icon iconfont icon-bianji"></span>
                    <div class="code-name">.icon-bianji</div>
                </li>

                <li class="dib">
                    <span class="icon iconfont icon-chenggong"></span>
                    <div class="code-name">.icon-chenggong</div>
                </li>

                <li class="dib">
                    <span class="icon iconfont icon-aliyu"></span>
                    <div class="code-name">.icon-aliyu</div>
                </li>

                <li class="dib">
                    <span class="icon iconfont icon-dianhua"></span>
                    <div class="code-name">.icon-dianhua</div>
                </li>

                <li class="dib">
                    <span class="icon iconfont icon-buganxingqu"></span>
                    <div class="code-name">.icon-buganxingqu</div>
                </li>

                <li class="dib">
                    <span class="icon iconfont icon-bangzhu"></span>
                    <div class="code-name">.icon-bangzhu</div>
                </li>

                <li class="dib">
                    <span class="icon iconfont icon-bofangjilu"></span>
                    <div class="code-name">.icon-bofangjilu</div>
                </li>

                <li class="dib">
                    <span class="icon iconfont icon-fenxiang"></span>
                    <div class="code-name">.icon-fenxiang</div>
                </li>

                <li class="dib">
                    <span class="icon iconfont icon-dianzan"></span>
                    <div class="code-name">.icon-dianzan</div>
                </li>

                <li class="dib">
                    <span class="icon iconfont icon-dianyingpiao"></span>
                    <div class="code-name">.icon-dianyingpiao</div>
                </li>

                <li class="dib">
                    <span class="icon iconfont icon-huati"></span>
                    <div class="code-name">.icon-huati</div>
                </li>

                <li class="dib">
                    <span class="icon iconfont icon-fuzhi"></span>
                    <div class="code-name">.icon-fuzhi</div>
                </li>

                <li class="dib">
                    <span class="icon iconfont icon-dianying"></span>
                    <div class="code-name">.icon-dianying</div>
                </li>

                <li class="dib">
                    <span class="icon iconfont icon-hongbao"></span>
                    <div class="code-name">.icon-hongbao</div>
                </li>

                <li class="dib">
                    <span class="icon iconfont icon-dingdan"></span>
                    <div class="code-name">.icon-dingdan</div>
                </li>

                <li class="dib">
                    <span class="icon iconfont icon-kabao"></span>
                    <div class="code-name">.icon-kabao</div>
                </li>

                <li class="dib">
                    <span class="icon iconfont icon-dingwei"></span>
                    <div class="code-name">.icon-dingwei</div>
                </li>

                <li class="dib">
                    <span class="icon iconfont icon-gongyi"></span>
                    <div class="code-name">.icon-gongyi</div>
                </li>

                <li class="dib">
                    <span class="icon iconfont icon-ditu"></span>
                    <div class="code-name">.icon-ditu</div>
                </li>

                <li class="dib">
                    <span class="icon iconfont icon-jianshao"></span>
                    <div class="code-name">.icon-jianshao</div>
                </li>

                <li class="dib">
                    <span class="icon iconfont icon-nan"></span>
                    <div class="code-name">.icon-nan</div>
                </li>

                <li class="dib">
                    <span class="icon iconfont icon-nv"></span>
                    <div class="code-name">.icon-nv</div>
                </li>

                <li class="dib">
                    <span class="icon iconfont icon-lihe"></span>
                    <div class="code-name">.icon-lihe</div>
                </li>

                <li class="dib">
                    <span class="icon iconfont icon-mima"></span>
                    <div class="code-name">.icon-mima</div>
                </li>

                <li class="dib">
                    <span class="icon iconfont icon-paihangbang"></span>
                    <div class="code-name">.icon-paihangbang</div>
                </li>

                <li class="dib">
                    <span class="icon iconfont icon-rili"></span>
                    <div class="code-name">.icon-rili</div>
                </li>

                <li class="dib">
                    <span class="icon iconfont icon-pengyouquan"></span>
                    <div class="code-name">.icon-pengyouquan</div>
                </li>

                <li class="dib">
                    <span class="icon iconfont icon-shanchu"></span>
                    <div class="code-name">.icon-shanchu</div>
                </li>

                <li class="dib">
                    <span class="icon iconfont icon-qupiao"></span>
                    <div class="code-name">.icon-qupiao</div>
                </li>

                <li class="dib">
                    <span class="icon iconfont icon-pinglun"></span>
                    <div class="code-name">.icon-pinglun</div>
                </li>

                <li class="dib">
                    <span class="icon iconfont icon-shaixuan"></span>
                    <div class="code-name">.icon-shaixuan</div>
                </li>

                <li class="dib">
                    <span class="icon iconfont icon-lipinka"></span>
                    <div class="code-name">.icon-lipinka</div>
                </li>

                <li class="dib">
                    <span class="icon iconfont icon-shangquan"></span>
                    <div class="code-name">.icon-shangquan</div>
                </li>

                <li class="dib">
                    <span class="icon iconfont icon-shengyin"></span>
                    <div class="code-name">.icon-shengyin</div>
                </li>

                <li class="dib">
                    <span class="icon iconfont icon-shequ"></span>
                    <div class="code-name">.icon-shequ</div>
                </li>

                <li class="dib">
                    <span class="icon iconfont icon-shandian"></span>
                    <div class="code-name">.icon-shandian</div>
                </li>

                <li class="dib">
                    <span class="icon iconfont icon-shezhi"></span>
                    <div class="code-name">.icon-shezhi</div>
                </li>

                <li class="dib">
                    <span class="icon iconfont icon-shijian"></span>
                    <div class="code-name">.icon-shijian</div>
                </li>

                <li class="dib">
                    <span class="icon iconfont icon-shouye"></span>
                    <div class="code-name">.icon-shouye</div>
                </li>

                <li class="dib">
                    <span class="icon iconfont icon-shengyinguanbi"></span>
                    <div class="code-name">.icon-shengyinguanbi</div>
                </li>

                <li class="dib">
                    <span class="icon iconfont icon-shibai"></span>
                    <div class="code-name">.icon-shibai</div>
                </li>

                <li class="dib">
                    <span class="icon iconfont icon-shangchuan"></span>
                    <div class="code-name">.icon-shangchuan</div>
                </li>

                <li class="dib">
                    <span class="icon iconfont icon-saoyisao"></span>
                    <div class="code-name">.icon-saoyisao</div>
                </li>

                <li class="dib">
                    <span class="icon iconfont icon-shuju"></span>
                    <div class="code-name">.icon-shuju</div>
                </li>

                <li class="dib">
                    <span class="icon iconfont icon-sousuo"></span>
                    <div class="code-name">.icon-sousuo</div>
                </li>

                <li class="dib">
                    <span class="icon iconfont icon-taolunqu"></span>
                    <div class="code-name">.icon-taolunqu</div>
                </li>

                <li class="dib">
                    <span class="icon iconfont icon-weixin"></span>
                    <div class="code-name">.icon-weixin</div>
                </li>

                <li class="dib">
                    <span class="icon iconfont icon-tupian"></span>
                    <div class="code-name">.icon-tupian</div>
                </li>

                <li class="dib">
                    <span class="icon iconfont icon-shouji"></span>
                    <div class="code-name">.icon-shouji</div>
                </li>

                <li class="dib">
                    <span class="icon iconfont icon-tuipiao"></span>
                    <div class="code-name">.icon-tuipiao</div>
                </li>

                <li class="dib">
                    <span class="icon iconfont icon-tishi"></span>
                    <div class="code-name">.icon-tishi</div>
                </li>

                <li class="dib">
                    <span class="icon iconfont icon-weibo"></span>
                    <div class="code-name">.icon-weibo</div>
                </li>

                <li class="dib">
                    <span class="icon iconfont icon-shuaxin"></span>
                    <div class="code-name">.icon-shuaxin</div>
                </li>

                <li class="dib">
                    <span class="icon iconfont icon-xiangji"></span>
                    <div class="code-name">.icon-xiangji</div>
                </li>

                <li class="dib">
                    <span class="icon iconfont icon-wode"></span>
                    <div class="code-name">.icon-wode</div>
                </li>

                <li class="dib">
                    <span class="icon iconfont icon-xiaoxizhongxin"></span>
                    <div class="code-name">.icon-xiaoxizhongxin</div>
                </li>

                <li class="dib">
                    <span class="icon iconfont icon-xiangkan"></span>
                    <div class="code-name">.icon-xiangkan</div>
                </li>

                <li class="dib">
                    <span class="icon iconfont icon-xiazai"></span>
                    <div class="code-name">.icon-xiazai</div>
                </li>

                <li class="dib">
                    <span class="icon iconfont icon-xiaoshi"></span>
                    <div class="code-name">.icon-xiaoshi</div>
                </li>

                <li class="dib">
                    <span class="icon iconfont icon-shoucang"></span>
                    <div class="code-name">.icon-shoucang</div>
                </li>

                <li class="dib">
                    <span class="icon iconfont icon-xiaoxi"></span>
                    <div class="code-name">.icon-xiaoxi</div>
                </li>

                <li class="dib">
                    <span class="icon iconfont icon-xiaojuchang"></span>
                    <div class="code-name">.icon-xiaojuchang</div>
                </li>

                <li class="dib">
                    <span class="icon iconfont icon-xiaomi"></span>
                    <div class="code-name">.icon-xiaomi</div>
                </li>

                <li class="dib">
                    <span class="icon iconfont icon-yingchengka"></span>
                    <div class="code-name">.icon-yingchengka</div>
                </li>

                <li class="dib">
                    <span class="icon iconfont icon-yuyin"></span>
                    <div class="code-name">.icon-yuyin</div>
                </li>

                <li class="dib">
                    <span class="icon iconfont icon-zengjia"></span>
                    <div class="code-name">.icon-zengjia</div>
                </li>

                <li class="dib">
                    <span class="icon iconfont icon-yixiangkan"></span>
                    <div class="code-name">.icon-yixiangkan</div>
                </li>

                <li class="dib">
                    <span class="icon iconfont icon-yinhangka"></span>
                    <div class="code-name">.icon-yinhangka</div>
                </li>

                <li class="dib">
                    <span class="icon iconfont icon-yanchu"></span>
                    <div class="code-name">.icon-yanchu</div>
                </li>

                <li class="dib">
                    <span class="icon iconfont icon-WIFI"></span>
                    <div class="code-name">.icon-WIFI</div>
                </li>

                <li class="dib">
                    <span class="icon iconfont icon-youhuiquan"></span>
                    <div class="code-name">.icon-youhuiquan</div>
                </li>

                <li class="dib">
                    <span class="icon iconfont icon-zhibo"></span>
                    <div class="code-name">.icon-zhibo</div>
                </li>

                <li class="dib">
                    <span class="icon iconfont icon-yulebao"></span>
                    <div class="code-name">.icon-yulebao</div>
                </li>

                <li class="dib">
                    <span class="icon iconfont icon-zhiwen"></span>
                    <div class="code-name">.icon-zhiwen</div>
                </li>

            </ul>
        </div>
    </main>
    <footer>
        <p>This is Footer!</p>
    </footer>
    <%- require('!!html-loader!../../layout/footer.html') %>
</body>

</html>